{% extends 'base.html' %}
{% block title %}Login{% endblock%}


    {% block content %}
    
    <h1>Log In</h1>
    <br>
    {{ message }}
    </br></br>

<div class="form-group"> 
    <form method="POST" >
        {% csrf_token %}
        {% comment %} {{ form.as_p }} <!-- the form.as.p, P means it will all start as a paragrahp like <p>, we could use, table, ul etc--> {% endcomment %}
            <div class="mb-3">
                <input type="text" placeholder="Username" name="username" class="form-control" >
              </div>
              <div class="mb-3">
                <input type="password"  placeholder="Password"  name="password" class="form-control" >
              </div>
            </br>
        <center> <button class="btn btn-primary mb-4">Log In</button>

        </br>
        <div id="emailHelp" class="form-text">Not registered, sign up here! <a href="{% url 'register' %}"> Register</a></div></center>
    </div>
    </form>
</div>
    {% endblock%}
 
