{% extends 'base.html' %}
{% block title %}Password Updated{% endblock%}


    {% block content %}
<center>
    <h1 class="text-success">Your password was changed Successfully!</h1>
</center>
   <center> <div class="alert alert-success" role="alert">
        {{user.first_name }} {{user.last_name }} your account with username <strong>{{user.username }} </strong>password has been changed.
        <br> If it was a mistake, please reach to the admin with a password lost status. 
            </br>
        <a href="#" class="alert-link">For Help</a>.
      </div>
    
   <h2> Account Details</h2>
   <label>First Name:</label> {{ user.first_name}} {{ user.last_name }}<br>
   <label>User Name:</label>{{ user.username }}<br>
   <label>Date Joined:</label>{{user.date_joined }}
</br></br>
    <a href="{% url 'login' %}"><button class="btn btn-primary mb-4" style="width:20%;"> Login </button></a></center>
    {% endblock%}
 
