
    {% extends 'base.html' %}
    {% load static %}
    {% block content %}
{% comment %} carouselExampleSlidesOnly {% endcomment %}
    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade " data-bs-ride="carousel">
            {% comment %} <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 7"></button>
              </div> {% endcomment %}
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="">
                <img src="{% static 'img/A424.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    {% comment %} <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p> {% endcomment %}
                  </div>
              </div>
              <div class="carousel-item" data-bs-interval="">
                <a href="https://www.google.com"><img src="{% static 'img/A420.png' %}" class="d-block w-100" alt="Ads"></a>
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A421.png' %}" class="d-block w-100" alt="Ads">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A422.png' %}" class="d-block w-100" alt="Ads">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A423.png' %}" class="d-block w-100" alt="Ads">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A424.png' %}" class="d-block w-100" alt="Ads">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A425.png' %}" class="d-block w-100" alt="Ads">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/A426.png' %}" class="d-block w-100" alt="Ads">
              </div>

            </div>
          </div> 
    </div>
    <br></br>

       <h3>Latest Updates!</h3>
    
    {% for post in object_list%}
    <br>
    <a class="text-decoration-none" style="font-size:20px; font-weight:500; color:#120032;" href="{% url 'shared-opportunity' post.pk %}"> 
      {{post.title}} </a> -
     <span style="text-decoration: none; Color:#6C757D;"> {{post.author.first_name}}
      {{post.author.last_name}} - 
      {% comment %} {{post.author.username}}. {% endcomment %}
      Posted on:  {{  post.post_date }} </span>

      {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
      {% comment %} - <a class="text-decoration-none" href="{% url 'update_post' post.pk %}"><small>Edit</small></a>

     <a class="text-decoration-none" href="{% url 'delete_post' post.pk %}"><small>   |   Delete</small></a> {% endcomment %}
     {% endif %}
     {% endif %}
     <hr>
    {% comment %} Link: {{post.title_link}}<br></br> {% endcomment %}
   Link: <a class="text-decoration-none" style="color:#6C757D;" href="{{post.title_link}}" target="_blank"> {{post.title_link}}</a><br></br>

    {{post.body | slice:":1000" | safe}}  
    <a href="{% url 'shared-opportunity' post.pk %}" style="text-decoration:none; color:#6C757D;"><strong>Read More <i class="bi bi-three-dots"></i></strong></a>
    
    <br>
    <center> <hr style="width: 5%;"></center>
    
    {% endfor%}
    <br>
    <hr>


{% endblock %}
